# ---------------------------------------------
# PREREQUISITI
# ---------------------------------------------
*.d

# ---------------------------------------------
# FILE OGGETTO E BUILD
# ---------------------------------------------
*.o
*.ko
*.obj
*.elf
*.exp
*.map
*.ilk

# Precompiled headers
*.gch
*.pch

# Librerie
*.lib
*.a
*.la
*.lo

# Shared libraries
*.dll
*.so
*.so.*
*.dylib

# Eseguibili
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug info
*.dSYM/
*.su
*.idb
*.pdb
*.dwo

# Kernel build
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# ---------------------------------------------
# CARTELLE DI BUILD ECLIPSE CDT
# ---------------------------------------------
Debug/
Release/
.build/

# ---------------------------------------------
# FILE DI CONFIGURAZIONE ECLIPSE (non necessari nel repo)
# ---------------------------------------------
.settings/
org.eclipse.cdt.managedbuilder.core.prefs

# ---------------------------------------------
# WORKSPACE ECLIPSE (NON il progetto)
# ---------------------------------------------
/.metadata/

# ---------------------------------------------
# IMPORTANTISSIMO:
# NON IGNORARE I TUOI PROGETTI C E I LORO FILE
# ---------------------------------------------
!client-project/
!client-project/**

!server-project/
!server-project/**
